<footer class="bg-black ph3 pv4 white">

    <div class="mw7 center pt3">

        <div class="measure-narrow center mb4" id="newsletter-form-box">

            <!--<img src="/img/letuseatlogo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">-->
            <a href="https://eepurl.com/g0l6tH">
            <p class="f3 lh-title primary b tc mb2">Subscribe</p>
            <p style = "text-align: center;">Get notified every time I update my blog!</p>
            </a>

            {{ partial "tinyletter" . }}

        </div>
        <div class="flex-ns pl-sm-5 pr-sm-5">

            <div>
                <h3 class="f4 b lh-title mb1 primary">Pages</h3>
                <ul class="mb3">
                    <li><a href="/" class="link">Home</a></li>
                    <li><a href="/blog" class="link">Blog</a></li>
                    <li><a href="/subscribe" class="link">Subscribe</a></li>
                    <li><a href="/contact" class="link">Contact</a></li>
                    <li><a href="/about" class="link">About Me</a></li>
                </ul>
            </div>

			
            <div style="visibility: hidden;">
                <h3 class="f4 b lh-title mb1 primary">Find out more</h3>
                <ul class="mb3">
                    <li><a href="/post/jamaica-blue/" class="link">Latest offers</a></li>
                    <li><a href="/contact" class="link">Schedule and appointment</a></li>
                </ul>
            </div>
		
			
            <div>
                <h3 class="f4 b lh-title mb2 primary">Social media</h3>
                <ul class="mhn2">
                    {{ partial "social-icon" (dict "link" "https://www.instagram.com/letuseatblog/" "svg" "icons-instagram") }} {{ partial "social-icon" (dict "link" "https://www.instagram.com/letuseatblog/" "svg" "icons-facebook") }} {{ partial "social-icon" (dict "link" "https://www.instagram.com/letuseatblog/" "svg" "icons-vimeo") }}
                </ul>
			</div>
			
        </div>
    </div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
