<div class="mw7 center ph3 pv4">

	<div class="flex flex-wrap mhn1">
		<div class="w-100 w-50-ns ph1-ns">
			<a href="{{ .image1.image }}" data-fancybox="images" data-caption="{{ .image1.alt }}"><img src="{{ .image1.image }}" alt="{{ .image1.alt }}"></a>
		</div>

		<div class="w-100 w-50-ns ph1-ns">
			<a href="{{ .image2.image }}" data-fancybox="images" data-caption="{{ .image2.alt }}"><img src="{{ .image2.image }}" alt="{{ .image2.alt }}"></a>
		</div>

		<div class="w-100 ph1-ns">
			<a href="{{ .image3.image }}" data-fancybox="images" data-caption="{{ .image3.alt }}"><img src="{{ .image3.image }}" alt="{{ .image3.alt }}"></a>
		</div>
	</div>

</div>
