<form class="flex-ns mb3" action="https://life.us19.list-manage.com/subscribe/post?u=3976eb5eeb2d0701f0bdc543d&amp;id=51a0ab72d9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
<fieldset class="flex-auto mb2 mb0-ns mr2-ns">
    <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Your email" class="w-100 required email">
    <label class="" for="email">Your email</label>
</fieldset>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3976eb5eeb2d0701f0bdc543d_51a0ab72d9" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn mb3 w-100-antibootstrap w-auto-m mb0-ns raise"></div>
    </div>
</form>
<div id="mce-responses" class="clear">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->